body{
  font-family: Arial;
  background:#eeeeee;
  margin:0;
}

.header{
  background:#333;
  color:white;
  padding:20px;
  text-align:center;
}

.header a{
  color:white;
  text-decoration:none;
}

.box{
  background:white;
  margin:10px;
  padding:10px;
}

.footer{
  background:#333;
  color:white;
  text-align:center;
  padding:10px;
}
.header img{
  width:150px;
  border-radius:50%;
}
